{% extends 'base.html' %} {% block content %}
<h1>Register</h1>
<form method="POST">
  <div>
    <label for="email">Email</label>
    <input type="email" name="email" placeholder="example@gmail.com" />
  </div>

  <div>
    <label for="password">Password</label>
    <input type="password" name="password" placeholder="Enter your password" />
  </div>

  <div>
    <label for="password">Confirm Password</label>
    <input
      type="password"
      name="password2"
      placeholder="Confirm your password"
    />
  </div>
  <button type="submit">Register</button>
</form>
{% endblock %}
